{% extends "base/base.html" %}
{% block title %}
    Savaş Arkadaşı Arıyorum
{% endblock title %}

{% block content %}
    <p>Websitemiz Yapım Aşamasındadır.</p>
    <br>
    {% if request.user.is_authenticated %}
        <p>
            Merhaba, {{ request.user.username }}
            <br>
            Çıkış yapmak için <a href="{% url "logout" %}">tıklayınız</a>.
        </p>
    {% else %}
        Kayıt olmak için <a href="{% url 'signup' %}">tıklayınız</a>.
        <p>
            Giriş yapmak için <a href="{% url 'login' %}">tıklayınız</a>.
        </p>
    {% endif %}
{% endblock content%}
