{% extends "base/base.html" %}

{% load bootstrap4 %}


{% block content %}
    <div class="container">
        <p>Belge Listesi- A-L</p>
        <div class="align-left">

            <table class="table fa-border">
                <tr>
                    <th>Sıra No</th>
                    <th>Adı</th>
                    <th>Aktif</th>
                    <th>Detay</th>
                </tr>

                {% for i in object_list %}

                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.title }}</td>
                            <td>{{ i.active }}</td>
                            <td><a class="btn btn-secondary btn-sm" href="{% url "revizyonlist" i.id %}">Detay</a></td>
                        </tr>
{#                        {% elif not i.active %}#}
{#                            <tr>#}
{#                            <td>{{ i.id }}</td>#}
{#                            <td>{{ i.title }}</td>#}
{#                            <td>{{ i.active }}</td>#}
{#                            <td><a class="btn btn-secondary btn-sm" href="{% url "revizyonlist" i.id %}">Detay</a></td>#}
{#                        {% else i.active or not i.active%}#}
{#                            <td>{{ i.id }}</td>#}
{#                            <td>{{ i.title }}</td>#}
{#                            <td>{{ i.active }}</td>#}
{#                            <td><a class="btn btn-secondary btn-sm" href="{% url "revizyonlist" i.id %}">Detay</a></td>#}

  {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}